doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.min.css")
        link(rel="shortcut icon", href="./assets/images/content/favicon.png", type="image/x-icon")
        title Кредит на покупку автомобиля, оформить и взять кредит на авто онлайн — «Автокред»
    body 
        header.header
            .header-logo 
                a(href="../", target="_self")
                    img(src="./assets/images/content/logoRed.svg", alt="")
            a(href="../", target="_self").header-link
                .header-button--back Вернуться на главную
            a(href="../", target="_blank").header-link
                img(src="./assets/images/content/whatapp.svg", alt="")
            a(href="../", target="_blank").header-link
                img(src="./assets/images/content/viber.svg", alt="")
        main.main
            .main-banner 
                .button-group
                    a(href="Consult").main-button#bigApply Отправить заявку на консультацию
                    a(href="#formApply").main-button#smallApply Заполнить анкету
            .main-description 
                .description-card
                    img(src="./assets/images/content/People.svg", alt="").card-image
                    .card-content
                        span.text 
                            span.counter 1.
                            | Рекоммендуйте компанию "Автокредит" друзьям, родным, близким

                .description-card 
                    img(src="./assets/images/content/Phone.svg", alt="").card-image
                    .card-content
                        
                        span.text 
                            span.counter 2.
                            | Отправляете номер телефона менеджерам компании "Автокредит"
                .description-card 
                    img(src="./assets/images/content/Deal.svg", alt="").card-image
                    .card-content
                        span.text
                            span.counter 3.
                            | При успешной сделке компания "Автокредит" платит ваш платеж по Автокредиту
            .main-text 
                .text-header Lorem ipsum dolor sit amet
                .text-content Lorem ipsum dolor sit amet, sea ad detracto reprimique repudiandae, nec mandamus accommodare eu. Quas copiosae honestatis duo ei, nemore mediocrem mediocritatem ei mea, ei iusto mediocrem ius. No qualisque consetetur intellegam has. Pro ex aperiri accusamus, duo saepe decore evertitur ea. Eu affert saperet nam. Eos dolor oratio maluisset in, quot integre placerat nam et, te wisi assentior vulputate pri. Lorem ipsum dolor sit amet, sea ad detracto reprimique repudiandae, nec mandamus accommodare eu. Quas copiosae honestatis duo ei, nemore mediocrem mediocritatem ei mea, ei iusto mediocrem ius. No qualisque consetetur intellegam has. Pro ex aperiri accusamus, duo saepe decore evertitur ea. Eu affert saperet nam. Eos dolor oratio maluisset in, quot integre placerat nam et, te wisi assentior vulputate pri. Lorem ipsum dolor sit amet, sea ad detracto reprimique repudiandae, nec mandamus accommodare eu. Quas copiosae honestatis duo ei, nemore mediocrem mediocritatem ei mea, ei iusto mediocrem ius. No qualisque consetetur intellegam has. Pro ex aperiri accusamus, duo saepe decore evertitur ea. Eu affert saperet nam. Eos dolor oratio maluisset in, quot integre placerat nam et, te wisi assentior vulputate pri. Lorem ipsum dolor sit amet, sea ad detracto reprimique repudiandae, nec mandamus accommodare eu. Quas copiosae honestatis duo ei, nemore mediocrem mediocritatem ei mea, ei iusto mediocrem ius. No qualisque consetetur intellegam has. Pro ex aperiri accusamus, duo saepe decore evertitur ea. Eu affert saperet nam. Eos dolor oratio maluisset in, quot integre placerat nam et, te wisi assentior vulputate pri.
                .text-header Lorem ipsum dolor sit amet
                .text-content Lorem ipsum dolor sit amet, sea ad detracto reprimique repudiandae, nec mandamus accommodare eu. Quas copiosae honestatis duo ei, nemore mediocrem mediocritatem ei mea, ei iusto mediocrem ius. No qualisque consetetur intellegam has. Pro ex aperiri accusamus, duo saepe decore evertitur ea. Eu affert saperet nam. Eos dolor oratio maluisset in, quot integre placerat nam et, te wisi assentior vulputate pri. Lorem ipsum dolor sit amet, sea ad detracto reprimique repudiandae, nec mandamus accommodare eu. Quas copiosae honestatis duo ei, nemore mediocrem mediocritatem ei mea, ei iusto mediocrem ius. No qualisque consetetur intellegam has. Pro ex aperiri accusamus, duo saepe decore evertitur ea. Eu affert saperet nam. Eos dolor oratio maluisset in, quot integre placerat nam et, te wisi assentior vulputate pri. Lorem ipsum dolor sit amet, sea ad detracto reprimique repudiandae, nec mandamus accommodare eu. Quas copiosae honestatis duo ei, nemore mediocrem mediocritatem ei mea, ei iusto mediocrem ius. No qualisque consetetur intellegam has. Pro ex aperiri accusamus, duo saepe decore evertitur ea. Eu affert saperet nam. Eos dolor oratio maluisset in, quot integre placerat nam et, te wisi assentior vulputate pri. Lorem ipsum dolor sit amet, sea ad detracto reprimique repudiandae, nec mandamus accommodare eu. Quas copiosae honestatis duo ei, nemore mediocrem mediocritatem ei mea, ei iusto mediocrem ius. No qualisque consetetur intellegam has. Pro ex aperiri accusamus, duo saepe decore evertitur ea. Eu affert saperet nam. Eos dolor oratio maluisset in, quot integre placerat nam et, te wisi assentior vulputate pri.
                .text-header Lorem ipsum dolor sit amet
                .text-content Lorem ipsum dolor sit amet, sea ad detracto reprimique repudiandae, nec mandamus accommodare eu. Quas copiosae honestatis duo ei, nemore mediocrem mediocritatem ei mea, ei iusto mediocrem ius. No qualisque consetetur intellegam has. Pro ex aperiri accusamus, duo saepe decore evertitur ea. Eu affert saperet nam. Eos dolor oratio maluisset in, quot integre placerat nam et, te wisi assentior vulputate pri. Lorem ipsum dolor sit amet, sea ad detracto reprimique repudiandae, nec mandamus accommodare eu. Quas copiosae honestatis duo ei, nemore mediocrem mediocritatem ei mea, ei iusto mediocrem ius. No qualisque consetetur intellegam has. Pro ex aperiri accusamus, duo saepe decore evertitur ea. Eu affert saperet nam. Eos dolor oratio maluisset in, quot integre placerat nam et, te wisi assentior vulputate pri. Lorem ipsum dolor sit amet, sea ad detracto reprimique repudiandae, nec mandamus accommodare eu. Quas copiosae honestatis duo ei, nemore mediocrem mediocritatem ei mea, ei iusto mediocrem ius. No qualisque consetetur intellegam has. Pro ex aperiri accusamus, duo saepe decore evertitur ea. Eu affert saperet nam. Eos dolor oratio maluisset in, quot integre placerat nam et, te wisi assentior vulputate pri. Lorem ipsum dolor sit amet, sea ad detracto reprimique repudiandae, nec mandamus accommodare eu. Quas copiosae honestatis duo ei, nemore mediocrem mediocritatem ei mea, ei iusto mediocrem ius. No qualisque consetetur intellegam has. Pro ex aperiri accusamus, duo saepe decore evertitur ea. Eu affert saperet nam. Eos dolor oratio maluisset in, quot integre placerat nam et, te wisi assentior vulputate pri.
                .text-header Lorem ipsum dolor sit amet
                .text-content Lorem ipsum dolor sit amet, sea ad detracto reprimique repudiandae, nec mandamus accommodare eu. Quas copiosae honestatis duo ei, nemore mediocrem mediocritatem ei mea, ei iusto mediocrem ius. No qualisque consetetur intellegam has. Pro ex aperiri accusamus, duo saepe decore evertitur ea. Eu affert saperet nam. Eos dolor oratio maluisset in, quot integre placerat nam et, te wisi assentior vulputate pri. Lorem ipsum dolor sit amet, sea ad detracto reprimique repudiandae, nec mandamus accommodare eu. Quas copiosae honestatis duo ei, nemore mediocrem mediocritatem ei mea, ei iusto mediocrem ius. No qualisque consetetur intellegam has. Pro ex aperiri accusamus, duo saepe decore evertitur ea. Eu affert saperet nam. Eos dolor oratio maluisset in, quot integre placerat nam et, te wisi assentior vulputate pri. Lorem ipsum dolor sit amet, sea ad detracto reprimique repudiandae, nec mandamus accommodare eu. Quas copiosae honestatis duo ei, nemore mediocrem mediocritatem ei mea, ei iusto mediocrem ius. No qualisque consetetur intellegam has. Pro ex aperiri accusamus, duo saepe decore evertitur ea. Eu affert saperet nam. Eos dolor oratio maluisset in, quot integre placerat nam et, te wisi assentior vulputate pri. Lorem ipsum dolor sit amet, sea ad detracto reprimique repudiandae, nec mandamus accommodare eu. Quas copiosae honestatis duo ei, nemore mediocrem mediocritatem ei mea, ei iusto mediocrem ius. No qualisque consetetur intellegam has. Pro ex aperiri accusamus, duo saepe decore evertitur ea. Eu affert saperet nam. Eos dolor oratio maluisset in, quot integre placerat nam et, te wisi assentior vulputate pri.
            form#formApply.main-form 
                .form-title Зарегистрироваться
                .form-container
                    input#userName(type="text", name="name", placeholder="Фамилия, имя и отчество", required).form-input 
                    input#userPhone(type="tel", name="phone", data-inputmask="'mask': '+7(999) 999-99-99'",required="",placeholder="Номер телефона").form-input
                    input#dateBirth(type="text", name="birth", placeholder="Дата Рождения",onfocus="(this.type='date')" ,onblur="(this.type='text')", required).form-input
                    button#applyformSubmit(type="submit").input-submit Зарегистрироваться
                .form-aware 
                    | Заполнение анкеты не обязывает вас брать автокредит
                    br
                    | Гарантируем: ваши данные останутся в безопасности.
        footer.footer
            .footer-row
                span.footer-company © ООО "Автокредит", 2017-2022. Все права защищены
                a(href="https://avtokred.com/privacy", target="_blank").footer-privacy Политика конфиденциальности
                span.footer-legal ИНН: 0301201060
                span.footer-legal ОГРН: 1160327065315
            .footer-row
                span.footer-developer 
                    | Создано
                    a(href="https://github.com/felixfreidman", target="_blank").footer-privacy Феликсом Фрейдманом
        script(src="./assets/js/jquery.min.js")  
        script(src="./assets/js/plugins.min.js")
        script(src="./assets/js/main.min.js") 
        