doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.min.css")
        link(rel="shortcut icon", href="./assets/images/content/favicon.png", type="image/x-icon")
        title Кредит на покупку автомобиля, оформить и взять кредит на авто онлайн — «Автокред»
    body 
        main.main
            .main__header Онлайн-заявка на автокредит
            .main__navigation 
                .navigation-block 
                    .navigation-stage#banksStage
                    .navigation-subtitle Все банки специализируются на автокредитовании
                .navigation-block 
                    .navigation-stage#checkStage  
                    .navigation-subtitle Кредит на новое авто или авто с пробегом
                .navigation-block 
                    .navigation-stage#lastStage  
                    .navigation-subtitle Без каско, первоначального взноса, справок и скрытых платежей
            form.main__form(method="POST", action="ThankYou.html")#formApply
                .form-header 
                    .header-content 
                        img(src="./assets/images/content/shieldForm.svg", alt="")
                        .header-caption 
                            | Заполнение анкеты не обязывает вас брать автокредит
                            br
                            | Гарантируем: ваши данные останутся в безопасности.
                .swiper.form-swiper#formSwiper 
                    .swiper-wrapper 
                        .swiper-slide.form-slide
                            .form-content
                                .form-progress
                                    .form-progress__row
                                        .form-counting
                                            | Шаг  
                                            span.step-counter  2 
                                            |   из  
                                            span.step-length  5
                                        .form-progress-caption
                                            | Получите 
                                            span.caption-bold +40%
                                            |  к одобрению, заполнив второй шаг
                                    .form-progress__bar.completed.completed--10
                                .form-layout 
                                    .form-layout__row.form-layout__row--updated
                                        .layout-header Примерная стоимость авто
                                        .layout-container
                                            .slider#sliderDebtUncertain 
                                            input#sliderDebtUncertainInput(type="text", name="sliderDebtInput", value="400.000 ₽").slider-input
                                        .layout-header Срок займа
                                        .layout-container 
                                            .slider#sliderYearUncertain 
                                            input#sliderYearInput(type="text", name="sliderDebtInput", value="3 года").slider-input
                        
                        .swiper-slide.form-slide
                            .form-content
                                .form-progress
                                    .form-progress__row
                                        .form-counting
                                            | Шаг  
                                            span.step-counter  3 
                                            |   из  
                                            span.step-length  5 
                                        .form-progress-caption
                                            | Получите 
                                            span.caption-bold +20%
                                            |  к одобрению, заполнив третий шаг
                                    .form-progress__bar.completed.completed--50
                                .form-layout.form-layout--first 
                                    .form-layout__header Для каких целей вам нужен автомобиль?
                                    .form-layout__row.form-layout__row--wrap
                                        input#travelTarget(type="radio", name="debtTarget",checked)
                                        label(for="travelTarget").complex-label 
                                            .complex-label__checkmark  
                                            .complex-label__title Путешествия
                                        input#trave2Target(type="radio", name="debtTarget")
                                        label(for="trave2Target").complex-label 
                                            .complex-label__checkmark 
                                            .complex-label__title Путешествия
                                        input#travel3Target(type="radio", name="debtTarget")
                                        label(for="travel3Target").complex-label 
                                            .complex-label__checkmark  
                                            .complex-label__title Путешествия
                                        input#travel4Target(type="radio", name="debtTarget")
                                        label(for="travel4Target").complex-label 
                                            .complex-label__checkmark  
                                            .complex-label__title Путешествия
                                        input#travel5Target(type="radio", name="debtTarget")
                                        label(for="travel5Target").complex-label 
                                            .complex-label__checkmark  
                                            .complex-label__title Путешествия
                                        input#otherTarget(type="radio", name="debtTarget")
                                        label(for="otherTarget").complex-label 
                                            .complex-label__checkmark  
                                            .complex-label__title Другое
                                    
                        .swiper-slide.form-slide
                            .form-content
                                .form-progress
                                    .form-progress__row
                                        .form-counting
                                            | Шаг  
                                            span.step-counter  4 
                                            |   из  
                                            span.step-length  5 
                                        .form-progress-caption
                                            | Получите 
                                            span.caption-bold +25%
                                            |  к одобрению, заполнив четвертый шаг
                                    .form-progress__bar.completed.completed--70
                                .form-layout.form-layout--first 
                                    .form-layout__header Какой кузов вы хотите у автомобиля?
                                    .form-layout__row.form-layout__row--wrap
                                        input#auto1Type(type="radio", name="autoType",checked)
                                        label(for="auto1Type").complex-label 
                                            .complex-label__checkmark  
                                            .complex-label__title Седан
                                        input#auto2Type(type="radio", name="autoType")
                                        label(for="auto2Type").complex-label 
                                            .complex-label__checkmark 
                                            .complex-label__title Джип
                                        input#auto3Type(type="radio", name="autoType")
                                        label(for="auto3Type").complex-label 
                                            .complex-label__checkmark  
                                            .complex-label__title Мотоцикл
                                        input#auto4Type(type="radio", name="autoType")
                                        label(for="auto4Type").complex-label 
                                            .complex-label__checkmark  
                                            .complex-label__title Грузовик
                                        input#auto5Type(type="radio", name="autoType")
                                        label(for="auto5Type").complex-label 
                                            .complex-label__checkmark  
                                            .complex-label__title Спецтехника
                                        input#autoTypeOther(type="radio", name="autoType")
                                        label(for="autoTypeOther").complex-label 
                                            .complex-label__checkmark  
                                            .complex-label__title Другое
                        .swiper-slide.form-slide
                            .form-content
                                .form-progress
                                    .form-progress__row
                                        .form-counting
                                            | Шаг  
                                            span.step-counter  5
                                            |   из  
                                            span.step-length  5
                                        .form-progress-caption
                                            | Получите 
                                            span.caption-bold +5%
                                            |  к одобрению, заполнив последний шаг
                                    .form-progress__bar.completed.completed--95
                                .form-layout 
                                    .form-layout__row
                                        input#userName(type="text", name="userName", placeholder = "Фамилия, имя и отчество", equired) 
                                    .form-layout__row
                                        .form-layout__block
                                            input#userPhone(type="tel", name="userPhone", placeholder = "Номер телефона", data-inputmask="'mask': '+7(999) 999-99-99'", required) 
                                        .form-layout__block
                                            input#userMail(type="email", name="userMail", placeholder = "Электронная почта") 
                                    .form-layout__row.form-layout__row--vertical
                                        label(for="citizenLabel").container 
                                            .agreement-label 
                                                | Я являюсь гражданином РФ
                                            input#citizenLabel(type="checkbox", name="agreementLabel", required, checked).form-checkbox
                                            span.checkmark 
                                        label(for="agreementLabel").container 
                                            .agreement-label 
                                                | Я соглашаюсь с 
                                                a(href="https://avtokred.com/privacy", target="_blank").agreement-label__link условиями 
                                                |  и даю свое согласие на обработку и использование персональных данных, и разрешаю сделать запрос в бюро кредитных историй
                                            input#agreementLabel(type="checkbox", name="agreementLabel", checked, required).form-checkbox
                                            span.checkmark
                                    button#applyformSubmit(type="submit").form-layout__submit Продолжить        
                         
                    .swiper-navigation
                        .swiper-pagination-btn.swiper-pagination-btn--prev
                        .swiper-pagination-btn.swiper-pagination-btn--next 
                    .swiper-pagination
            .main__aware
                | Действуют для заемщиков, заключивших Договор выдачи Кредита наличными и подписавших Индивидуальные условия выдачи Кредита наличными, предоставленные на основании Заявления на получение Кредита наличными с 1 июня 2014 года.
                | Ставка от 6,5% до 20,99% годовых определяется для каждого заёмщика индивидуально. При подтверждении целевого использования средств (покупки автомобиля) ставка снижается на 1% процент и может составлять от 5,5% до 19,99%. Ставка действительна на весь срок кредитования. Предложение действует до 20.12.2021. Неустойка за просрочку платежа — 0,1% за каждый день просрочки. Лимит — от 50 000 до 7,5 млн ₽. Срок — от 1 года до 5 лет. Банк оставляет за собой исключительное право на изменение срока действия предложения и на предоставление или отказ в предоставлении кредита. АО «Альфа-Банк». Ген. лицензия ЦБ РФ № 1326 от 16.01.2015.
                | Пример расчёта платежей для кредита 255 000 ₽ на 5 лет по ставке 8,5% годовых. Переплата по процентам — 71 631 ₽, стоимость страховки на 5 лет —  55 080 ₽. Всего за 5 лет вам нужно выплатить 381 711 ₽. Расчёт приблизительный. Точная сумма зависит от даты выдачи кредита.
        footer.footer 
            .footer-row
                span.footer-company © ООО "Автокредит", 2017-2022. Все права защищены
                a(href="https://avtokred.com/privacy", target="_blank").footer-privacy Политика конфиденциальности
                span.footer-legal ИНН: 0301201060
                span.footer-legal ОГРН: 1160327065315
            .footer-row
                span.footer-developer 
                    | Создано
                    a(href="https://github.com/felixfreidman", target="_blank").footer-privacy Феликсом Фрейдманом
            
        script(src="./assets/js/jquery.min.js")
        script(src="//code.jquery.com/ui/1.12.1/jquery-ui.js")  
        script(src="./assets/js/plugins.min.js")
        script(src="./assets/js/main.min.js") 
        