doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.min.css")
        link(rel="shortcut icon", href="./assets/images/content/favicon.png", type="image/x-icon")
        title Кредит на покупку автомобиля, оформить и взять кредит на авто онлайн — «Автокред»
    body 
        header.header 
            .header__logo 
                img(src="./assets/images/content/logoRed.svg", alt="")
            .header__container    
                .header__title Кредит на автомобиль
                .header__subtitle Без первоначального взноса
        main.main
            .main__header Спасибо за заполненную форму! Скоро с вами свяжутся
        footer.footer 
            .footer-row
                span.footer-company © ООО "Автокредит", 2017-2022. Все права защищены
                a(href="https://avtokred.com/privacy", target="_blank").footer-privacy Политика конфиденциальности
                span.footer-legal ИНН: 0301201060
                span.footer-legal ОГРН: 1160327065315
            .footer-row
                span.footer-developer 
                    | Создано
                    a(href="https://github.com/felixfreidman", target="_blank").footer-privacy Феликсом Фрейдманом
            
        script(src="./assets/js/jquery.min.js")  
        script(src="./assets/js/plugins.min.js")
        script(src="./assets/js/main.min.js") 
        