html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    overflow-x: hidden;
}

.header {
    width: calc(100vw - 80px);
    height: 100px;
    padding: 0 40px;
    position: fixed;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: start;
    z-index: 100;
    &-button--back {
        height: 50px;
        width: fit-content;
        padding: 0 20px;
        background-color: #B20A2C;
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        transition: all 0.3s ease;
        &:hover {
            box-shadow: 0 6px 14px rgba($color: #0b1f35, $alpha: .55);
        }
    }
    &-link {
        margin-left: 30px;
    }
}

.main {
    width: 100vw;
    height: fit-content;
    margin-top: 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-banner {
        width: 100%;
        height: 80vh;
        background-image: url("./assets/images/content/headerRed.png");
        background-size: 80%;
        background-position: 50% 10%;
        background-repeat: no-repeat;
        position: relative;
    }
    &-button {
        width: fit-content;
        padding: 0 30px;
        font-size: 22px;
        color: #fff;
        background-color: #B20A2C;
        text-transform: uppercase;
        font-weight: 700;
        border-radius: 8px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 30px;
        transition: all 0.3s ease;
        &:hover {
            box-shadow: 0 6px 14px rgba($color: #0b1f35, $alpha: .75);
        }
    }
    .button-group {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: absolute;
        bottom: -40px;
        left: 0;
        right: 0;
        margin-right: auto;
        margin-left: auto;
    }
    .main-description {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        margin-top: 100px;
        .description-card {
            width: calc(30% - 60px);
            border: 5px solid #B20A2C;
            height: 110px;
            display: flex;
            padding: 20px 30px;
            align-items: center;
            flex-direction: column;
            border-radius: 8px;
            cursor: default;
            transition: all 0.3s ease;
            &:hover {
                transform: scale(1.05);
            }
        }
        .card-image {
            height: 50px;
            width: 80%;
            margin-bottom: 20px;
        }
        .counter {
            font-weight: 600;
            color: #B20A2C;
            display: inline-block;
            margin-right: 10px;
        }
        .text {
            font-weight: 500;
            color: #0b1f35;
        }
    }
    .main-text {
        width: 80%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        width: 80%;
        margin-top: 30px;
        .text-header {
            font-weight: 700;
            text-transform: uppercase;
            color: #B20A2C;
            font-size: 40px;
            margin-bottom: 30px;
        }
        .text-content {
            color: #0b1f35;
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 30px;
        }
    }
    .main-form {
        display: flex;
        flex-direction: column;
        width: 60%;
        align-items: center;
        border-radius: 8px;
        height: fit-content;
        margin-top: 50px;
        .form-title {
            height: 126px;
            background-color: #B20A2C;
            color: #fff;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 22px 22px 0 0px;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 25px;
        }
        .form-container {
            background-color: rgba($color: #dbdee1, $alpha: 0.5);
            display: flex;
            flex-direction: column;
            align-items: center;
            width: calc(100% - 40px);
            height: 350px;
            padding: 30px 20px;
            .form-input {
                width: calc(100% - 40px);
                padding: 20px;
                outline: none;
                border: none;
                border-bottom: #0b1f35 solid 2px;
                margin-bottom: 30px;
                color: #0b1f35;
                font-weight: 600;
                &::placeholder {
                    color: rgba($color: #0b1f35, $alpha: .5);
                    font-weight: 500;
                }
            }
            .input-submit {
                width: 80%;
                padding: 20px;
                color: #fff;
                background-color: #B20A2C;
                font-weight: 600;
                text-transform: uppercase;
                font-size: 22px;
                border: none;
                border-radius: 8px;
                outline: none;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.3s ease;
                cursor: pointer;
                &:hover {
                    box-shadow: 0 6px 14px rgba($color: #0b1f35, $alpha: .55);
                }
            }
        }
        .form-aware {
            height: 126px;
            background-color: #B20A2C;
            color: #fff;
            width: calc(100% - 60px);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0px 0px 22px 22px;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 15px;
            padding: 0 30px;
        }
    }
}

.footer {
    margin-top: 50px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
    &-row {
        font-size: 12px;
        margin-bottom: 20px;
    }
    &-company {
        font-size: 14px;
        margin-right: 10px;
        font-weight: 500;
    }
    &-privacy {
        display: inline-block;
        font-size: 12px;
        font-weight: 500;
        color: #B20A2C;
        margin-right: 10px;
        text-decoration: underline;
    }
    &-legal {
        font-size: 12px;
        margin-right: 10px;
        font-weight: 500;
    }
    .footer-developer {
        a {
            margin-left: 5px;
        }
    }
}

.input-warning {
    color: #B20A2C !important;
    font-weight: 800;
}

.button--disabled {
    pointer-events: none;
    filter: grayscale(1);
}

@media screen and (max-width: 1200px) {
    .main .main-description .description-card {
        height: 150px;
    }
}

@media screen and (max-width: 1000px) {
    .main .main-form {
        width: 80%;
    }
}

@media screen and (max-width: 900px) {
    .main-button {
        font-size: 18px;
    }
    .main .main-description .text {
        font-size: 15px;
    }
    .main .main-description {
        width: 90%;
    }
    .main .main-form {
        width: 90%;
    }
    .main .main-text {
        width: 90%;
    }
    .footer {
        width: 90%;
        padding: 20px;
    }
    .main .button-group {
        width: 90%;
        justify-content: space-between;
    }
    .main-button {
        margin-right: 0;
        width: calc(48% - 60px);
        text-align: center;
    }
    .main .main-description .counter {
        display: inline;
    }
    .header-button--back {
        font-size: 16px;
    }
}

@media screen and (max-width: 750px) {
    .main .main-text .text-header {
        font-size: 36px;
    }
    .header-button--back {
        font-size: 12px;
        height: 30px;
    }
    .main .main-description .description-card {
        height: 220px
    }
    .main .main-description .card-image {
        height: 80px;
    }
    .main .main-description .text {
        font-size: 13px;
    }
    .footer-row {
        display: flex;
        flex-wrap: wrap;
        .footer-company {
            font-size: 14px;
            margin-right: 15px;
            margin-bottom: 20px;
        }
        .footer-legal,
        .footer-privacy {
            font-size: 14px;
            margin-right: 15px;
        }
    }
}

@media screen and (max-width: 650px) {
    .header-button--back {
        display: none;
    }
    .main-banner {
        height: 50vh;
    }
    .main-banner {
        background-size: 100%;
    }
    .main .main-text .text-header {
        font-size: 30px;
    }
    .main .main-text .text-content {
        font-size: 16px;
    }
    .main .main-form .form-aware {
        font-size: 12px;
        height: 80px;
    }
    .main .main-form .form-title {
        height: 80px;
    }
    .main .main-description .description-card {
        width: calc(30% - 20px);
        padding: 20px 10px;
        height: 180px;
    }
    .main-button {
        font-size: 14px;
        height: 60px;
    }
    .main .button-group {
        bottom: -30px;
    }
    .main .main-description {
        margin-top: 60px;
    }
    .main .main-form {
        margin-top: 30px;
    }
    .footer-row .footer-privacy {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 550px) {
    .main-banner {
        height: 40vh;
    }
    .main .main-description .description-card {
        width: calc(30% - 20px);
    }
    .footer,
    .main .main-description,
    .main .main-form,
    .main .main-text,
    .main .button-group {
        width: 95%;
    }
    .main .main-description {
        display: flex;
        flex-direction: column;
    }
    .main .main-description .description-card {
        width: calc(100% - 20px);
        margin-bottom: 20px;
    }
    .main .main-description .text {
        font-size: 16px;
        line-height: 20px;
    }
    .main-button {
        font-size: 12px;
    }
    .main .main-form .form-aware {
        font-size: 10px;
    }
    .main .main-text .text-header {
        font-size: 25px;
    }
}

@media screen and (max-width: 450px) {
    .main .main-text .text-header {
        font-size: 22px;
    }
    .main .main-text .text-content {
        font-size: 14px;
    }
    .main .main-form .form-title {
        font-size: 22px;
    }
    .main .main-form .form-container .form-input {
        font-size: 15px;
    }
    .main .main-form .form-container .input-submit {
        font-size: 15px;
    }
    .main .main-form .form-aware {
        font-size: 8px;
    }
    .main .main-form .form-container {
        height: 380px;
        justify-content: center;
    }
    .main-button {
        width: calc(35% - 40px);
        padding: 0 20px;
    }
    #bigApply {
        width: calc(60% - 40px);
    }
}

@media screen and (max-width: 400px) {
    .header-logo {
        margin-right: auto;
        width: 40%;
        a {
            width: 100%;
            img {
                width: 100%;
            }
        }
    }
    .footer,
    .main .button-group,
    .main .main-description,
    .main .main-form,
    .main .main-text {
        width: 90%;
    }
}

@media screen and(max-width:350px) {
    .main .main-description .text {
        font-size: 16px;
        line-height: 18px;
    }
    .main .main-description .description-card {
        height: 150px;
    }
    .main-button {
        font-size: 11px;
    }
    .main .main-form .form-title {
        font-size: 16px;
        height: 60px;
    }
    .main .main-form .form-container .input-submit {
        width: 100%;
    }
    .main .main-form .form-aware {
        width: calc(100% - 20px);
        padding: 0 10px;
        font-size: 7px;
        height: 60px;
    }
}

@media screen and(min-height:1000px) {
    .main-banner {
        height: 40vh;
    }
}

@media screen and(min-height:900px) and (max-width:450px) {
    .main-banner {
        height: 30vh;
    }
}